@use 'base/variables' as v;
@use 'base/mixins' as m;

.pacientes {
    list-style: none;
    padding: 0;

    li {
        padding: 1rem;
        border-top: 1px solid v.$blanco;

        p {
            font-weight: v.$bold;
            color: v.$azul;
        }

        span,
        .servicio {
            font-weight: v.$regular;
            color: v.$blanco;
        }

    }

    .acciones{
        margin: 0;
        @include m.tablet{
            align-items: center;
        }
    }

    .boton,.boton-eliminar{
        margin: 0;
    }
}